!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "DailyNovelist"

    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body{"data-sticky-container": ""}
    .show-for-medium.top-bar{"data-options": "marginBottom:0;", "data-stick-to": "bottom", "data-sticky": "", style: "width:100%"}
      .top-bar-left
        %ul.menu
          %li.menu-text DailyNovelist
          -if user_signed_in?
            %li
              = link_to "Sign Out", sign_out_path, method: :delete
          -elsif controller_name != "sessions"
            %li
              = link_to "Sign In", sign_in_path
      .top-bar-right
        %ul.menu
          %li
            %a{href: "#"} Contact
          %li
            %a{href: "#"} Legal
          %li
            %a{href: "#"} FAQ
          %li
            %a{href: "#"} About
          %li
            %a{href: "#"} Support
    = yield
