!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "DailyNovelist"

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": true
    = csrf_meta_tag

  %body{"data-sticky-container": ""}
    .top-bar{"data-options": "marginBottom:0;", "data-stick-to": "bottom", "data-sticky": "", style: "width:100%"}
      .top-bar-left
        %ul.menu
          %li.menu-text DailyNovelist
      .top-bar-right
        %ul.menu
          %li
            %a{href: "#"} Contact
          %li
            %a{href: "#"} Legal
          %li
            %a{href: "#"} FAQ
          %li
            %a{href: "#"} About
          %li
            %a{href: "#"} Support
    = yield
